
main{
    height: 100vh;
    color: rgb(243, 243, 243);
    
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container{
        min-width: 400px;
        
        display: flex;
        flex-direction: column;
        gap: 1rem;

        form{
            
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            input, button{
                outline: none;
                padding: 0.5rem 0.75rem;
                border-radius: 1rem;
                border: none;
            }

            button{
                color: white;
                background-color: brown;
                transition: all 0.1s ease-in-out;

                &:hover{
                    // font-size: inherit;
                    background-color: rgb(168, 59, 59);
                    // transform: scale(1.05);
                }
            }
        }  
        
        a{
            color: brown;
            text-decoration: none;
        }
    }
}