.post-image-label {
    color: rgb(98, 98, 98);
    background-color: rgb(239, 237, 237);
    font-size: 0.90rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}